/*body{
	background-image: url(https://static.agora.ge/image/data/gaeroo.jpg);
	background: rgba(0,0,0,0.5);
}*/
body{
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url(https://static.agora.ge/image/data/gaeroo.jpg);
    color: rgb(255,179,28);
}
